// -----------------------------------------------------------------------------
// This file contains all styles related to the BooksFilter React component.
// -----------------------------------------------------------------------------
$books-filter-color-text: #fff;
$books-filter-color-link: #eedb59;
$books-filter-color-link-active: #fff;

.BooksFilter {
  color: $books-filter-color-text;
  font-size: 0.8em;
  padding: 1em 0;
}

.BooksFilter__options {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 1em 0 0;
  }
}

.BooksFilter__link {
  color: $books-filter-color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
