// -----------------------------------------------------------------------------
// This file contains all styles related to the Search component.
// -----------------------------------------------------------------------------
$omdb-movies-search-bg-color: #43a66a;

.omdb-movies-search {
  margin: 0.5em 0;
  padding: 0.5em 0;
  background-color: $omdb-movies-search-bg-color;
  width: 100%;

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
  }

  &__query {
    flex: 1 1 10em;
    padding: 0.5em 1em;
    input {
      width: 100%;
    }
  }

  &__submit {
    flex: 0;
    padding: 0 1em;
  }
}
