$title-color: #00bcd4;

.floor-plan {

  &__paper {
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
  }

  &__paper--small {
    width: 75%;
    margin: 0.5em 0;
    text-align: center;
  }

  &__title {
    padding: 0.5em 1em 0 1em;
    margin: 0;
    color: $title-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__svg-wrapper {
    height: 500px;
    width: 100%;
  }

}
