.floor-plan__paper {
  width: 100%;
  margin: 0;
  text-align: center;
}

.floor-plan__paper--small {
  width: 75%;
  margin: 0;
  text-align: center;
}

.floor-plan__title {
  padding: 0.5em 0 0.25em 0;
  margin: 0;
  color: rgb(0, 188, 212);
}

.floor-plan__svg-wrapper {
  height: 630px;
  width: 100%;
  overflow: hidden;
}
