<div class="pockemon-card" [class.pockemon-card--favorite]="pokemon.favorite" [id]="pokemon.name" >
  <div class="pockemon-card__image" [ngStyle]="{'background-image': 'url(' + pokemon.image + ')'}">
    <div class="pockemon-card__id">
      #{{'0'.repeat(3 - pokemon.id.toString().length).concat(pokemon.id.toString())}}
    </div>
    <div class="pockemon-card__image-fav">
      <i class="material-icons">star_border</i>
    </div>
  </div>
  <h2 class="pockemon-card__name">{{pokemon.name}}</h2>
  <div class="pockemon-card__abilities">
    <div
      [ngClass]="'pockemon-card__type '.concat('pockemon-card__type--'.concat(type))"
      *ngFor="let type of pokemon.types"
    >{{type}}</div>
  </div>
  <div class="pockemon-card__controls">
    <button class="pockemon-card__btn"
            (click)="onDetailsClick(pokemon)"
            titlte="Pokemon's details"
    >
      Details
    </button>
    <button *ngIf="!pokemon.favorite"
            (click)="onFavoritesClick(pokemon)"
            class="pockemon-card__btn pockemon-card__btn--add"
            title="Add to favorites"
    >
      <i class="material-icons">favorite</i>
    </button>
    <button *ngIf="pokemon.favorite"
            (click)="onFavoritesClick(pokemon)"
            class="pockemon-card__btn pockemon-card__btn--rm"
            title="Remove from favorites"
    >
      <i class="material-icons">clear</i>
    </button>
  </div>
</div>

