<div class="mdl-card__media">
  <ul class="mdl-list" ng-hide="!$ctrl.favoriteMovies.length">
    <li class="mdl-list__item mdl-list__item--two-line"
        ng-repeat="movie in $ctrl.favoriteMovies">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar"
             style="color: #757575; background-color: #fff;">
            movie
          </i>
          <span ng-bind="movie.Title"></span>
          <span class="mdl-list__item-sub-title">
            <span ng-bind="movie.Type"></span>, <span ng-bind="movie.Year"></span>
          </span>
        </span>
      <span class="mdl-list__item-secondary-content">
          <a class="mdl-list__item-secondary-action"
             title="Remove from favorites"
             ng-href="#"
             ng-click="$ctrl.unpinMovie(movie.imdbID)">
            <i class="material-icons">clear</i>
          </a>
        </span>
    </li>
  </ul>
</div>
