<!--                               Header                                -->
<header>
  <div class="GithubRibbon">
    <a href="https://github.com/revolunet/JSbooks">
      <img style="position: absolute; top: 0; left: 0; border: 0; height: 134px;"
           src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67"
           alt="Fork me on GitHub"
           data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" />
    </a>
  </div>
  <div class="HeaderLogo">
    <img class="HeaderLogo__image" src="images/logo_jsbooks.png" alt="javascript tutorials">
    <p class="HeaderLogo__slogan">The best free JavaScript resources</p>
    <a class="HeaderLogo__link" href="http://www.revolunet.com" target="_blank" title="revolunet">
      by revolunet - rich web apps for desktop and mobile
    </a>
  </div>
  <div class="HeaderLinks">
    <a href="https://twitter.com/revolunet"
       class="twitter-follow-button HeaderLinks__twitter"
       data-show-count="false"
       data-show-screen-name="false">
    </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <a class="HeaderLinks__info" id="js-show-info" href="#" title="Learn JavaScript for FREE! ">?</a>
  </div>
</header>
