<!--                                Info                                 -->
<div class="InfoBlock">
  <div class="InfoBlock__container" id="js-info" style="display: none;">
    <div class="InfoBlock__section">
      <h4>Learn JavaScript for free!</h4>
      <hr>
      <p>Discover the most popular free JavaScript books and improve your skills, thanks to the developers community ! Fork it on GitHub and add any books related to your best programming language :)</p>
      <p>JSbooks will be updated with fresh and updated content out there. Drop your mail below to be notified on each update:</p>
      <form action="http://revolunet.us1.list-manage.com/subscribe/post?u=43cbcac99221b1ab80c14a121&amp;id=b8d6f6c192"
            method="post" target="_blank"
            name="mc-embedded-subscribe-form"
            class="validate">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
        <input type="submit" value="Subscribe">
      </form>
    </div>
    <div class="InfoBlock__section">
      <h4>About us :</h4>
      <hr>
      <p>
        <a href="http://www.revolunet.com" target="_blank" title="revolunet">Revolunet</a>
        is a company specialized in web applications development.<br>
        Feel free to contact us by mail for further information: <br>
        <a href="mailto:contact@revolunet.com">contact@revolunet.com</a>
      </p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Here are the best free JavaScript ressources to learn #js for free ! #webdevelopment #javascript" data-via="revolunet"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
