<div class="mdl-card__title">
  <form ng-hide="$ctrl.searchInProgress" novalidate ng-submit="$ctrl.onSubmit();">
    <div class="mdl-textfield mdl-js-textfield">
      <input
        ng-model="$ctrl.query"
        class="mdl-textfield__input"
        type="text"
        id="q" />
      <label class="mdl-textfield__label" for="q">Enter a fragment of a title to search</label>
      <span class="mdl-textfield__error">Please, enter a title of a movie to search</span>
    </div>
    <button
      type="submit"
      class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
      Search
    </button>
  </form>
  <!-- MDL Spinner Component -->
  <div ng-show="$ctrl.searchInProgress" class="mdl-card__media" style="padding: 0 50%; margin-left: -14px;">
    <div ng-class="{'is-active': $ctrl.searchInProgress}" class="mdl-spinner mdl-js-spinner"></div>
  </div>

</div>
