// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
$col-bg-light: #fff;
$col-bg-light-text: #263238;

$col-bg-medium: #f5f5f5;
$col-bg-medium-border: #e3e3e3;
$col-bg-medium-text: #263238;

$col-bg-dark: #263238;
$col-bg-dark-text: #fff;

$col-link: #1b95e0;
//$col-link-hover:

$col-avare-bg: #f2dede;
$col-avare-border: #ebccd1;
$col-avare-text: #b94a48;

$col-menu-bg: #ef5350;
$col-menu-bg-active: #c62828;
$col-menu-text: #fff;

$col-button-border: #357ebd;
$col-button-bg: #1b95e0;
$col-button-text: #fff;