// -----------------------------------------------------------------------------
// This file contains all styles related to the <button>.
// -----------------------------------------------------------------------------

.mybutton {
  color: $color_white;
  background: transparent;
  border: solid 1px $color_orange;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25rem 1rem;
  margin: 0 1rem;
  position: relative;

  &.primary {
    background: $color_cyan;

    &:hover {
      background: transparent;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    transition: 300ms;
    background: $color_orange;
  }

  &:hover {

    &::before {
      width: 100%;
      z-index: -1;
    }
  }
}
