// -----------------------------------------------------------------------------
// This file contains all styles related to the SeatInfo component.
// -----------------------------------------------------------------------------
.seat-info {
  text-align: center;

  &__title {
    text-align: center;
  }

  &__title-input {
    margin-bottom: 1rem;
  }

  .seat-info__name {
    font-size: 1.25rem;
    color: $color_cyan;

    &--free {
      color: $color_gray_light;
    }
  }

  &__free-message {
    font-size: 1rem;
    color: $color_white;
    padding: 1rem 0;
  }

  &__buttons-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }
}
