// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
$footer-color-hr: rgba(240, 240, 240, 0.4);
$footer-color-link: #0088cc;

footer {
  font-size: 0.6em;
  padding: 2.5em 1em;
  text-align: center;

  hr {
    color: $footer-color-hr;
    margin: 1em auto;
    width: 75%;
  }

  p {
    margin: 0 0 2em;
  }

  a {
    color:$footer-color-link;
    margin: 1em 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
