<div class="mdl-card__media">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
    <tr>
      <th style="width: 10%;">#</th>
      <th ng-click="$ctrl.setOrder('Title')"
          ng-class="{
                       'mdl-data-table__header--sorted-ascending': $ctrl.orderExpr === 'Title' && !$ctrl.orderDesc,
                       'mdl-data-table__header--sorted-descending': $ctrl.orderExpr === 'Title' && $ctrl.orderDesc,
                     }"
          style="width: 55%;"
          class="mdl-data-table__cell--non-numeric"
          title="Click to sort by title"
      >
        <a class="sort-column-header" href="#" data-sort-by="Title">Title</a>
      </th>
      <th ng-click="$ctrl.setOrder('Type')"
          ng-class="{
                       'mdl-data-table__header--sorted-ascending': $ctrl.orderExpr === 'Type' && !$ctrl.orderDesc,
                       'mdl-data-table__header--sorted-descending': $ctrl.orderExpr === 'Type' && $ctrl.orderDesc,
                     }"
          style="width: 10%;"
          class="mdl-data-table__cell--non-numeric"
          title="Click to sort by type"
      >
        <a class="sort-column-header" href="#" data-sort-by="Type">Type</a>
      </th>
      <th ng-click="$ctrl.setOrder('Year')"
          ng-class="{
                       'mdl-data-table__header--sorted-ascending': $ctrl.orderExpr === 'Year' && !$ctrl.orderDesc,
                       'mdl-data-table__header--sorted-descending': $ctrl.orderExpr === 'Year' && $ctrl.orderDesc,
                     }"
          style="width: 15%;"
          class="mdl-data-table__cell--non-numeric"
          title="Click to sort by year"
      >
        <a class="sort-column-header" href="#" data-sort-by="Year">Year</a>
      </th>
      <th style="width: 10%;" class="mdl-data-table__cell--non-numeric">Like</th>
    </tr>
    </thead>
    <tbody>
    <!-- Search results -->
    <tr ng-hide="!$ctrl.movies.length" ng-repeat="movie in $ctrl.movies | pageFilter: $ctrl.paginator.currentPage">
      <td>{{($ctrl.paginator.currentPage - 1) * $ctrl.config.moviesOnPage + $index + 1}}</td>
      <td class="mdl-data-table__cell--non-numeric" title="{{movie.Title}}">
        {{movie.Title}}
      </td>
      <td class="mdl-data-table__cell--non-numeric">{{movie.Type}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{movie.Year}}</td>
      <td class="mdl-data-table__cell--non-numeric">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
                title="Add to favorites"
                ng-click="$ctrl.pinMovie(movie.imdbID)"
        >
          <i class="material-icons" data-add-favorite-id="{{movie.imdbID}}">
            favorite_border
          </i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="mdl-card__actions mdl-card--border mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <!-- Filter -->
      Filter by:
      <ul ng-hide="$ctrl.filterTypes.length === 0" class="type-filter">
        <li><a ng-click="$ctrl.setFilter('all')" ng-href="#">all</a></li>
        <li ng-repeat="type in $ctrl.filterTypes" ng-hide="type === $ctrl.filterExpr">
          <a ng-click="$ctrl.setFilter(type)"  ng-href="#">{{type}}</a>
        </li>
      </ul>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <!-- Paginator -->
      <div ng-hide="$ctrl.paginator.totalPages === 0">
        <button
          ng-disabled="$ctrl.paginator.currentPage <= 1"
          ng-click="$ctrl.paginator.currentPage = $ctrl.paginator.currentPage - 1"
          class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
        >
          <i class="material-icons">chevron_left</i>
        </button>
        <span style="margin: 0 1em;">Page {{$ctrl.paginator.currentPage}} of {{$ctrl.paginator.totalPages}}</span>
        <button
          ng-disabled="$ctrl.paginator.currentPage >= $ctrl.paginator.totalPages"
          ng-click="$ctrl.paginator.currentPage = $ctrl.paginator.currentPage + 1"
          class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
        >
          <i class="material-icons">chevron_right</i>
        </button>
      </div>
    </div>
  </div>
</div>
