// -----------------------------------------------------------------------------
// This file contains all styles related to the FoundMovies component.
// -----------------------------------------------------------------------------
$found-movies-border-color: #43ac6a;
$found-movies-controls-bg-color: #43ac6a;
$found-movies-paginator-bg-color: #43ac6a;
$found-movies-new-search-bg-color: rgba(255, 64, 129, 0.85);
$found-movies-new-search-active-color: rgba(255, 64, 129, 1);
$found-movies-new-search-color: #fff;

.found-movies {
  margin: 0.5em 0;
  //padding: 0.5em;
  border: 1px solid $found-movies-border-color;

  &__controls {
    background-color: $found-movies-controls-bg-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
  }

  &__new-search {
    font-size: 1em;
    padding: 0.5em;

    a {
      background-color: $found-movies-new-search-bg-color;
      border-radius: 19px;
      border: 0 solid $found-movies-new-search-bg-color;
      display: inline-block;
      cursor: pointer;
      color: $found-movies-new-search-color;
      font-size: 1em;
      font-weight: bold;
      padding: 0.5em 1em;
      text-decoration:none;

      &:hover {
        background-color: $found-movies-new-search-active-color;
      }
    }
  }

  &__results {
    display: flex;
    padding: 0.5em 0;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  &__paginator {
    background-color: $found-movies-paginator-bg-color;
    padding: 0.5em 1em;
  }
}
