<div class="movie-brief">
  <a class="movie-brief__poster" href="#" title="Click to view details">
    <div class="movie-brief__poster-image"
         style="background-image: url({{$ctrl.movie.Poster}}), url(images/noposter.png)">
    </div>
    <div class="movie-brief__title">
      <div class="movie-brief__title-text">{{$ctrl.movie.Title}}</div>
    </div>
  </a>
    <div class="movie-brief__info">
      <div>
        <a ng-show="$ctrl.inFavorites" href="#1"
           ng-click="$ctrl.onPinUnpin($ctrl.movie)"
           ng-href="#"
           class="movie-brief__to-favorites movie-brief__to-favorites--rm"
           title="Remove from favorites">
          <i class="material-icons">clear</i>
        </a>
        <a ng-show="!$ctrl.inFavorites"
           ng-click="$ctrl.onPinUnpin($ctrl.movie)"
           ng-href="#"
           class="movie-brief__to-favorites movie-brief__to-favorites--add"
           title="Add to favorites">
          <i class="material-icons">favorite</i>
        </a>
      </div>
      <div>
        {{$ctrl.movie.Type}}, {{$ctrl.movie.Year}}
      </div>
    </div>
</div>
