// -----------------------------------------------------------------------------
// This file contains all styles related to the MovieBrief component.
// -----------------------------------------------------------------------------
$movie-brief-border: #282828;
$movie-brief-bg-color: #282828;
$movie-brief-info-color: #282828;
$movie-brief-fav-hover-color: #ff4081;
$movie-brief-block-width: 280px;
$movie-brief-block-height: 160px;
$movie-brief-poster-height: 120px;

.movie-brief {
  margin: 0.5em;
  border: 1px solid $movie-brief-border;
  height: $movie-brief-block-height;
  width: $movie-brief-block-width;
  background-color: $movie-brief-bg-color;
  overflow: hidden;

  &__poster {
    display: block;
    position: relative;
    text-decoration: none;
    height: $movie-brief-poster-height;
    width: 100%;
    overflow: hidden;
  }

  &__poster-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    transition: transform 0.3s, opacity 0.3s;
    height: $movie-brief-poster-height;
    width: 100%;

    a:hover & {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }

  &__title {
    margin-top: -$movie-brief-poster-height;
    height: $movie-brief-poster-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 6px;
    text-align: center;
  }

  &__info {
    height: $movie-brief-block-height - $movie-brief-poster-height;
    background-color: #fff;
    padding: 0 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: $movie-brief-info-color;
    font: {
      size: 16px;
      weight: bold;
    }
  }

  &__to-favorites {
    color: $movie-brief-info-color;
    padding: 2px;
    cursor: pointer;

    &:hover {
      color: $movie-brief-fav-hover-color;
    }
  }
}


