<div ui-view></div>

<div class="omdb-movies">
  <favorites favorite-movies="$ctrl.favoriteMovies" on-unpin-movie="$ctrl.unpinFavoriteMovie($event)"></favorites>
  <search query="$ctrl.query" search-in-progress="$ctrl.searchInProgress" on-search-submit="$ctrl.searchMovie($event)"></search>
  <div class="spinner" ng-show="$ctrl.searchInProgress">
    <div class='rings'>
      <div class='ring-1'>
        <div class='ring-2'>
          <div class='ring-3'></div>
        </div>
      </div>
    </div>
  </div>
  <foundmovies all-movies="$ctrl.workingMovies" on-pin-to-favorites="$ctrl.pinMovieToFavorites($event)"></foundmovies>
</div>
